body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to full viewport height */
}

.navbar {
  background-color: #444;
  padding: 15px 0;
  color: #fff;
  text-align: center;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-title {
  flex-grow: 1;
  text-align: left;
  padding-left: 20px;
}

.navbar-links {
  flex-grow: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  display: inline-block;
}

.download-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #45a049;
}

.mobile-menu-btn {
  display: none;
  cursor: pointer;
  margin-left: 10px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  z-index: 1;
}

.mobile-menu a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .navbar-links {
      display: none;
  }

  .mobile-menu-btn {
      display: block;
  }

  .mobile-menu {
      display: block;
  }
}

.content {
  flex: 1; 
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}
